---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1282'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589bd14b4b9c6:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"8ecef284-5dd2-5f05-b6ed-78f696b5b1c3","warnings":[],"time":686.65385246277,"start_microtime":1486606666.2813,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"0c28a63f-9942-5fc6-9259-43c5f6c91b7f","warnings":[],"time":1270.2870368958,"start_microtime":1486606666.2567,"version":"1.17.202","slave_lag":1088207,"output_term":"not_found"}}}'
  recorded_at: Thu, 09 Feb 2017 02:17:46 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/advertiser?num_elements=1&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589bd14b4b9c6:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:5,member:3,serviceHostUser:2,serviceHostMember:2,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:0,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/advertiser"
      X-Route-Time:
      - '31'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":0,"num_elements":1,"advertisers":[{"id":595902,"code":null,"name":"Lumosity
        US","state":"active","default_brand_id":947,"remarketing_segment_id":7358144,"profile_id":41598291,"control_pct":0,"timezone":"UTC","last_modified":"2016-12-14
        01:57:02","member_id":487,"billing_name":null,"billing_phone":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_country":null,"billing_zip":null,"default_currency":"USD","use_insertion_orders":true,"time_format":"12-hour","is_malicious":false,"is_mediated":false,"billing_internal_user":null,"default_category":{"id":9,"name":"Education"},"default_brand":{"id":947,"name":"Lumos
        Labs Inc","category_id":9},"labels":null,"competitive_brands":null,"competitive_categories":null,"thirdparty_pixels":null,"macros":null,"lifetime_budget":null,"lifetime_budget_imps":null,"daily_budget":null,"daily_budget_imps":null,"enable_pacing":null,"allow_safety_pacing":null,"lifetime_pacing":null,"lifetime_pacing_span":null,"lifetime_pacing_pct":null}],"count":1,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":5,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":0,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":3,"read_limit":1000,"read_limit_seconds":60,"writes":0,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":true,"uuid":"e43149a7-df62-5f74-aab6-56ddc90e44b5","warnings":[],"time":21.543979644775,"start_microtime":1486606669.1577,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1088210,"member_last_modified_age":290,"output_term":"advertisers"}}}'
  recorded_at: Thu, 09 Feb 2017 02:17:47 GMT
recorded_with: VCR 3.0.3
