---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1385'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b1600d434b:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"911d09ca-b262-54b4-8ee1-c38825d96203","warnings":[],"time":798.09713363647,"start_microtime":1486558719.74,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"e1c9b38a-c6d2-527f-88d4-5ec43f926cd0","warnings":[],"time":1371.2739944458,"start_microtime":1486558719.7163,"version":"1.17.202","slave_lag":1040260,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:58:39 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/advertiser
    body:
      encoding: UTF-8
      string: '{"advertiser":{"name":"rspec advertiser"}}'
    headers:
      Authorization:
      - hbapi:171678:589b1600d434b:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:13,member:6,serviceHostUser:2,serviceHostMember:2,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:14,member:14,serviceHostUser:9,serviceHostMember:9,hostUser:9,hostMember:9,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/advertiser"
      X-Route-Time:
      - '311'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":1561321,"start_element":0,"num_elements":100,"advertiser":{"id":1561321,"code":null,"name":"rspec
        advertiser","state":"active","default_brand_id":null,"remarketing_segment_id":null,"profile_id":null,"control_pct":0,"timezone":"EST5EDT","last_modified":"2017-02-08
        12:58:41","member_id":487,"billing_name":null,"billing_phone":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_country":null,"billing_zip":null,"default_currency":"USD","use_insertion_orders":false,"time_format":"12-hour","is_malicious":false,"is_mediated":false,"billing_internal_user":null,"default_category":null,"default_brand":null,"labels":null,"competitive_brands":null,"competitive_categories":null,"thirdparty_pixels":null,"macros":null,"lifetime_budget":null,"lifetime_budget_imps":null,"daily_budget":null,"daily_budget_imps":null,"enable_pacing":null,"allow_safety_pacing":null,"lifetime_pacing":null,"lifetime_pacing_span":null,"lifetime_pacing_pct":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":13,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":14,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":6,"read_limit":1000,"read_limit_seconds":60,"writes":14,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":true,"uuid":"9abed4ea-7cf8-5ff0-b0f4-3ed5c2f8d7c4","warnings":[],"time":292.89197921753,"start_microtime":1486558721.4868,"version":"1.17.202","slave_lag":1040260,"member_last_modified_age":1486558721,"output_term":"advertiser"}}}'
  recorded_at: Wed, 08 Feb 2017 12:58:40 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/profile?advertiser_id=1561321
    body:
      encoding: UTF-8
      string: '{"profile":{"code":"spec_profile_code","description":"Targeting only
        the US","country_targets":[{"id":233}],"country_action":"include"}}'
    headers:
      Authorization:
      - hbapi:171678:589b1600d434b:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:13,member:6,serviceHostUser:0,serviceHostMember:0,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:15,member:15,serviceHostUser:1,serviceHostMember:1,hostUser:10,hostMember:10,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/profile"
      X-Route-Time:
      - '573'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":75364289,"start_element":0,"num_elements":100,"profile":{"id":75364289,"code":"spec_profile_code","description":"Targeting
        only the US","country_action":"include","region_action":"exclude","city_action":"exclude","browser_action":"exclude","use_inventory_attribute_targets":false,"last_modified":"2017-02-08
        12:58:42","daypart_timezone":null,"dma_action":"exclude","domain_action":"exclude","domain_list_action":"exclude","inventory_action":"exclude","language_action":"exclude","segment_boolean_operator":"and","min_session_imps":null,"session_freq_type":"platform","carrier_action":"exclude","supply_type_action":"exclude","device_type_action":"exclude","screen_size_action":"exclude","device_model_action":"exclude","location_target_radius":null,"location_target_latitude":null,"location_target_longitude":null,"querystring_action":"exclude","querystring_boolean_operator":"and","is_expired":false,"non_audited_url_action":"include","optimization_zone_action":"exclude","advertiser_id":1561321,"publisher_id":null,"max_session_imps":null,"max_day_imps":null,"max_lifetime_imps":null,"max_page_imps":null,"min_minutes_per_imp":null,"venue_action":"exclude","operating_system_action":"exclude","require_cookie_for_freq_cap":true,"trust":"seller","allow_unaudited":false,"is_template":false,"created_on":"2017-02-08
        12:58:42","operating_system_family_action":"exclude","use_operating_system_extended_targeting":false,"mobile_app_instance_action_include":false,"mobile_app_instance_list_action_include":false,"certified_supply":false,"inventory_prefer_direct":false,"deal_action_include":true,"user_group_targets":null,"country_targets":[{"id":233,"name":"United
        States","code":"US","active":true}],"region_targets":null,"city_targets":null,"inventory_attribute_targets":null,"age_targets":null,"daypart_targets":null,"browser_targets":null,"dma_targets":null,"domain_targets":null,"domain_list_targets":null,"language_targets":null,"size_targets":null,"zip_targets":null,"member_targets":null,"video_targets":{"allow_unknown_playback_method":false,"allow_unknown_context":false,"allow_unknown_player_size":false},"engagement_rate_targets":null,"segment_group_targets":null,"carrier_targets":null,"supply_type_targets":null,"device_type_targets":null,"screen_size_targets":null,"device_model_targets":null,"querystring_targets":null,"gender_targets":null,"intended_audience_targets":null,"inventory_network_resold_targets":null,"operating_system_targets":null,"operating_system_family_targets":null,"position_targets":null,"site_targets":null,"venue_targets":null,"operating_system_extended_targets":null,"optimization_zone_targets":null,"postal_code_targets":null,"seller_member_group_targets":null,"cross_device":null,"key_value_targets":null,"content_category_targets":null,"deal_targets":null,"placement_targets":null,"platform_content_category_targets":null,"platform_placement_targets":null,"platform_publisher_targets":null,"publisher_targets":null,"ip_range_list_targets":null,"mobile_app_instance_targets":null,"mobile_app_instance_list_targets":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":13,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":15,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":6,"read_limit":1000,"read_limit_seconds":60,"writes":15,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"41b59bab-98c4-5241-97ed-6587de850cef","warnings":[],"time":552.89483070374,"start_microtime":1486558722.2543,"version":"1.17.202","slave_lag":1040260,"member_last_modified_age":1486558722,"output_term":"profile"}}}'
  recorded_at: Wed, 08 Feb 2017 12:58:41 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/line-item?advertiser_id=1561321
    body:
      encoding: UTF-8
      string: '{"line-item":{"name":"some line item","code":"spec_line_code"}}'
    headers:
      Authorization:
      - hbapi:171678:589b1600d434b:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:13,member:6,serviceHostUser:0,serviceHostMember:0,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:16,member:16,serviceHostUser:1,serviceHostMember:1,hostUser:11,hostMember:11,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/line-item"
      X-Route-Time:
      - '331'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":3764156,"start_element":0,"num_elements":100,"line-item":{"id":3764156,"code":"spec_line_code","name":"some
        line item","advertiser_id":1561321,"state":"active","start_date":null,"end_date":null,"timezone":"EST5EDT","discrepancy_pct":0,"publishers_allowed":"all","revenue_value":0,"revenue_type":"cpm","goal_type":"none","goal_value":null,"last_modified":"2017-02-08
        12:58:43","click_url":null,"currency":"USD","require_cookie_for_tracking":true,"profile_id":null,"member_id":487,"flat_fee_type":null,"comments":null,"remaining_days":null,"total_days":null,"manage_creative":false,"creative_distribution_type":null,"line_item_type":"standard_v1","prefer_delivery_over_performance":false,"advertiser":{"id":1561321,"name":"rspec
        advertiser"},"flat_fee":null,"delivery_goal":null,"labels":null,"broker_fees":null,"pixels":null,"insertion_orders":null,"goal_pixels":null,"imptrackers":null,"clicktrackers":null,"campaigns":null,"valuation":{"performance_offer":false,"performance_mkt_managed":false,"performance_mkt_crossnet":false},"creatives":null,"budget_intervals":null,"click_model":null,"expected_value_model":null,"custom_models":null,"inventory_discovery":null,"inventory_discovery_budget":null,"incrementality":null,"auction_event":null,"custom_optimization_note":null,"lifetime_budget":null,"lifetime_budget_imps":null,"daily_budget":null,"daily_budget_imps":null,"enable_pacing":null,"allow_safety_pacing":null,"lifetime_pacing":null,"lifetime_pacing_span":null,"lifetime_pacing_pct":null,"payout_margin":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":13,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":16,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":6,"read_limit":1000,"read_limit_seconds":60,"writes":16,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":true,"uuid":"6e872645-e47d-5f1d-b7fa-d09b14284e70","warnings":[],"time":310.69493293762,"start_microtime":1486558723.3382,"version":"1.17.202","slave_lag":1040260,"member_last_modified_age":1486558723,"output_term":"line-item"}}}'
  recorded_at: Wed, 08 Feb 2017 12:58:41 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/campaign?advertiser_id=1561321
    body:
      encoding: UTF-8
      string: '{"campaign":{"name":"campaign name","code":"codecode","line_item_id":3764156,"inventory_type":"direct","profile_id":75364289}}'
    headers:
      Authorization:
      - hbapi:171678:589b1600d434b:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:13,member:6,serviceHostUser:0,serviceHostMember:0,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:17,member:17,serviceHostUser:1,serviceHostMember:1,hostUser:12,hostMember:12,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/campaign"
      X-Route-Time:
      - '527'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":15720224,"start_element":0,"num_elements":100,"campaign":{"id":15720224,"state":"active","code":"codecode","advertiser_id":1561321,"line_item_id":3764156,"creative_id":null,"pixel_id":null,"short_name":null,"name":"campaign
        name","profile_id":75364289,"start_date":null,"end_date":null,"timezone":"EST5EDT","priority":5,"cadence_modifier_enabled":false,"cpc_goal":null,"cpm_bid_type":"margin","base_bid":null,"min_bid":null,"max_bid":null,"bid_margin":0,"roadblock_creatives":false,"roadblock_type":"no_roadblock","inventory_type":"direct","last_modified":"2017-02-08
        12:58:44","max_learn_bid":null,"cadence_type":"advertiser","member_id":487,"click_url":null,"require_cookie_for_tracking":true,"allow_unverified_ecp":false,"defer_to_li_prediction":false,"ecp_learn_divisor":null,"projected_learn_events":null,"learn_threshold":3,"cpc_payout":null,"comments":null,"optimization_version":"v7","learn_override_type":null,"base_cpm_bid_value":null,"impression_limit":40000,"bid_multiplier":1,"remaining_days":null,"total_days":null,"campaign_type":"default","creative_distribution_type":null,"supply_type_action":"exclude","supply_type":null,"creatives":null,"pixels":null,"optimization_lookback":null,"campaign_modifiers":null,"labels":null,"broker_fees":null,"valuation":null,"bid_model":null,"bid_modifier_model":null,"lifetime_budget":null,"lifetime_budget_imps":null,"daily_budget":null,"daily_budget_imps":null,"enable_pacing":null,"allow_safety_pacing":null,"lifetime_pacing":null,"lifetime_pacing_span":null,"lifetime_pacing_pct":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":13,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":17,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":6,"read_limit":1000,"read_limit_seconds":60,"writes":17,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":true,"uuid":"719b4aeb-9f98-5bd7-b522-c0f54e38fcb3","warnings":[],"time":505.71894645691,"start_microtime":1486558724.0474,"version":"1.17.202","slave_lag":1040260,"member_last_modified_age":1486558724,"output_term":"campaign"}}}'
  recorded_at: Wed, 08 Feb 2017 12:58:42 GMT
- request:
    method: delete
    uri: https://api-test.appnexus.com/campaign?advertiser_id=1561321&id=15720224
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b1600d434b:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:13,member:6,serviceHostUser:0,serviceHostMember:0,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:[...]
- request:
    method: delete
    uri: https://api-test.appnexus.com/line-item?advertiser_id=1561321&id=3764156
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b1600d434b:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:13,member:6,serviceHostUser:0,serviceHostMember:0,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:[...]
- request:
    method: delete
    uri: https://api-test.appnexus.com/profile?advertiser_id=1561321&id=75364289
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b1600d434b:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:13,member:6,serviceHostUser:0,serviceHostMember:0,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:2[...]
- request:
    method: delete
    uri: https://api-test.appnexus.com/advertiser?id=1561321
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b1600d434b:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:13,member:6,serviceHostUser:2,serviceHostMember:2,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:21,member:21,serviceH[...]
