---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1592'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b1609cb274:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"3d1e0e02-f71a-5807-bdf5-0479ef48121d","warnings":[],"time":997.15304374695,"start_microtime":1486558728.4975,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"95b19dd0-f70f-5e9f-a2f6-d1469920c6a4","warnings":[],"time":1578.1240463257,"start_microtime":1486558728.4727,"version":"1.17.202","slave_lag":1040269,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:58:48 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/content-category
    body:
      encoding: UTF-8
      string: '{"content-category":{"name":"rspec_content_category"}}'
    headers:
      Authorization:
      - hbapi:171678:589b1609cb274:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:14,member:6,serviceHostUser:0,serviceHostMember:0,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:22,member:22,serviceHostUser:1,serviceHostMember:1,hostUser:17,hostMember:17,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/content-category"
      X-Route-Time:
      - '270'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":46956,"start_element":0,"num_elements":100,"content-category":{"id":46956,"name":"rspec_content_category","description":null,"is_system":false,"last_modified":"2017-02-08
        12:58:50","type":"standard","member_id":487,"code":null,"parent_category":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":14,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":22,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":6,"read_limit":1000,"read_limit_seconds":60,"writes":22,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"b894604d-442c-51a4-af29-d060e2bbe007","warnings":[],"time":254.33492660522,"start_microtime":1486558730.4919,"version":"1.17.202","slave_lag":1040269,"member_last_modified_age":1486558730,"output_term":"content-category"}}}'
  recorded_at: Wed, 08 Feb 2017 12:58:49 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/content-category?id=46956&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b1609cb274:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:15,member:7,serviceHostUser:1,serviceHostMember:1,hostUser:4,hostMember:4,ip:0
      X-Count-Write:
[...]
- request:
    method: put
    uri: https://api-test.appnexus.com/content-category?id=46956
    body:
      encoding: UTF-8
      string: '{"content-category":{"name":"rspec_content_category_part_2"}}'
    headers:
      Authorization:
      - hbapi:171678:589b1609cb274:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:15,member:7,serviceHostUser:1,[...]
[...]
- request:
    method: get
    uri: https://api-test.appnexus.com/content-category?id=46956&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b1609cb274:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:17,member:9,serviceHostUser:3,serviceHostMember:3,hostUser:6,hostMember:6,ip:0
      X-Count-Write:
      - user:24,member:24,serviceHostUser:3,serviceHostMember:3,hostUser:19,hostMember:19,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/content-category"
      X-Route-Time:
      - '27'
    body:
      encoding: UTF-8
      string: '{"response":{"error_id":"SYNTAX","error":"resource not found","error_description":null,"service":null,"method":null,"error_code":null,"count":0,"start_element":0,"num_elements":100,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":17,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":24,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":9,"read_limit":1000,"read_limit_seconds":60,"writes":24,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"0a149092-ec3c-5abd-8012-4e7b2c0119ab","warnings":[],"time":18.123149871826,"start_microtime":1486558733.5657,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1040269,"member_last_modified_age":0,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:58:51 GMT
recorded_with: VCR 3.0.3
