---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1385'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:58abdfe5637c0:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"36cf26c3-f943-5a77-843e-548b5b8c8d82","warnings":[],"time":794.025182724,"start_microtime":1487658980.2764,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"4bc92de1-a2e7-56ee-a137-8c2caa406fea","warnings":[],"time":1371.7579841614,"start_microtime":1487658980.2566,"version":"1.17.202","slave_lag":2140522,"output_term":"not_found"}}}'
  recorded_at: Tue, 21 Feb 2017 06:36:19 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/content-category
    body:
      encoding: UTF-8
      string: '{"content-category":{"name":"rspec_content_category"}}'
    headers:
      Authorization:
      - hbapi:171678:58abdfe5637c0:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:7,member:4,serviceHostUser:0,serviceHostMember:0,hostUser:4,hostMember:4,ip:0
      X-Count-Write:
      - user:1,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/content-category"
      X-Route-Time:
      - '289'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":47125,"start_element":0,"num_elements":100,"content-category":{"id":47125,"name":"rspec_content_category","description":null,"is_system":false,"last_modified":"2017-02-21
        06:36:26","type":"standard","member_id":487,"code":null,"parent_category":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":7,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":1,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":4,"read_limit":1000,"read_limit_seconds":60,"writes":1,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"4d436460-c516-5907-b0fd-fdf648025552","warnings":[],"time":275.21300315857,"start_microtime":1487658986.0666,"version":"1.17.202","slave_lag":2140523,"member_last_modified_age":1487658986,"output_term":"content-category"}}}'
  recorded_at: Tue, 21 Feb 2017 06:36:24 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/content-category?id=47125&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:58abdfe5637c0:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:8,member:5,serviceHostUser:1,serviceHostMember:1,hostUser:5,hostMember:5,ip:0
      X-Count-Write:
 [...]
- request:
    method: put
    uri: https://api-test.appnexus.com/content-category?id=47125
    body:
      encoding: UTF-8
      string: '{"content-category":{"name":"rspec_content_category_part_2"}}'
    headers:
      Authorization:
      - hbapi:171678:58abdfe5637c0:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:8,member:5,serviceHostUser:1,s[...]
[...]
- request:
    method: get
    uri: https://api-test.appnexus.com/content-category?id=47125&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:58abdfe5637c0:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:11,member:8,serviceHostUser:4,serviceHostMember:4,hostUser:8,hostMember:8,ip:0
      X-Count-Write:
      - user:4,member:4,serviceHostUser:4,serviceHostMember:4,hostUser:4,hostMember:4,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/content-category"
      X-Route-Time:
      - '28'
    body:
      encoding: UTF-8
      string: '{"response":{"error_id":"SYNTAX","error":"resource not found","error_description":null,"service":null,"method":null,"error_code":null,"count":0,"start_element":0,"num_elements":100,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":11,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":4,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":8,"read_limit":1000,"read_limit_seconds":60,"writes":4,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"dc4e9425-1d3c-5e47-b143-613136cc9aec","warnings":[],"time":18.599987030029,"start_microtime":1487658990.9863,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":2140533,"member_last_modified_age":1,"output_term":"not_found"}}}'
  recorded_at: Tue, 21 Feb 2017 06:36:29 GMT
recorded_with: VCR 3.0.3
