---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1133'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b02681ef42:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"888e04bc-f9ee-5257-adf7-843f7e176f20","warnings":[],"time":688.85707855225,"start_microtime":1486553703.1102,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"99f66789-fdaf-5995-8f84-2325ea81237f","warnings":[],"time":1122.3251819611,"start_microtime":1486553703.0882,"version":"1.17.202","slave_lag":1035244,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 11:35:02 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/advertiser
    body:
      encoding: UTF-8
      string: '{"advertiser":{"name":"rspec advertiser"}}'
    headers:
      Authorization:
      - hbapi:171678:589b02681ef42:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:1,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Count-Write:
      - user:1,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/advertiser"
      X-Route-Time:
      - '285'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":1561293,"start_element":0,"num_elements":100,"advertiser":{"id":1561293,"code":null,"name":"rspec
        advertiser","state":"active","default_brand_id":null,"remarketing_segment_id":null,"profile_id":null,"control_pct":0,"timezone":"EST5EDT","last_modified":"2017-02-08
        11:35:04","member_id":487,"billing_name":null,"billing_phone":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_country":null,"billing_zip":null,"default_currency":"USD","use_insertion_orders":false,"time_format":"12-hour","is_malicious":false,"is_mediated":false,"billing_internal_user":null,"default_category":null,"default_brand":null,"labels":null,"competitive_brands":null,"competitive_categories":null,"thirdparty_pixels":null,"macros":null,"lifetime_budget":null,"lifetime_budget_imps":null,"daily_budget":null,"daily_budget_imps":null,"enable_pacing":null,"allow_safety_pacing":null,"lifetime_pacing":null,"lifetime_pacing_span":null,"lifetime_pacing_pct":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":1,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":1,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":0,"read_limit":1000,"read_limit_seconds":60,"writes":1,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"cf6d048a-e912-59ba-b3a2-b0ef510688c9","warnings":[],"time":267.81606674194,"start_microtime":1486553704.5835,"version":"1.17.202","slave_lag":1035244,"member_last_modified_age":1486553704,"output_term":"advertiser"}}}'
  recorded_at: Wed, 08 Feb 2017 11:35:03 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/line-item?advertiser_id=1561293&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b02681ef42:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:2,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Count-Write:
      - user:1,member:1,serviceHostUser:0,serviceHostMember:0,hostUser:1,hostMember:1,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/line-item"
      X-Route-Time:
      - '29'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":0,"num_elements":100,"line-items":[],"count":0,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":2,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":1,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":1,"read_limit":1000,"read_limit_seconds":60,"writes":1,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"a6a37334-d7ef-51f0-b548-2eebd9125c1f","warnings":[],"time":20.241975784302,"start_microtime":1486553705.364,"version":"1.17.202","slave_miss":"no_timestamp","slave_lag":1035248,"member_last_modified_age":1486553705,"output_term":"line-items"}}}'
  recorded_at: Wed, 08 Feb 2017 11:35:03 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/line-item?advertiser_id=1561293
    body:
      encoding: UTF-8
      string: '{"line-item":{"name":"some line item","code":"spec_line_code"}}'
    headers:
      Authorization:
      - hbapi:171678:589b02681ef42:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:2,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Count-Write:
      - user:2,member:2,serviceHostUser:1,serviceHostMember:1,hostUser:2,hostMember:2,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/line-item"
      X-Route-Time:
      - '323'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":3764145,"start_element":0,"num_elements":100,"line-item":{"id":3764145,"code":"spec_line_code","name":"some
        line item","advertiser_id":1561293,"state":"active","start_date":null,"end_date":null,"timezone":"EST5EDT","discrepancy_pct":0,"publishers_allowed":"all","revenue_value":0,"revenue_type":"cpm","goal_type":"none","goal_value":null,"last_modified":"2017-02-08
        11:35:05","click_url":null,"currency":"USD","require_cookie_for_tracking":true,"profile_id":null,"member_id":487,"flat_fee_type":null,"comments":null,"remaining_days":null,"total_days":null,"manage_creative":false,"creative_distribution_type":null,"line_item_type":"standard_v1","prefer_delivery_over_performance":false,"advertiser":{"id":1561293,"name":"rspec
        advertiser"},"flat_fee":null,"delivery_goal":null,"labels":null,"broker_fees":null,"pixels":null,"insertion_orders":null,"goal_pixels":null,"imptrackers":null,"clicktrackers":null,"campaigns":null,"valuation":{"performance_offer":false,"performance_mkt_managed":false,"performance_mkt_crossnet":false},"creatives":null,"budget_intervals":null,"click_model":null,"expected_value_model":null,"custom_models":null,"inventory_discovery":null,"inventory_discovery_budget":null,"incrementality":null,"auction_event":null,"custom_optimization_note":null,"lifetime_budget":null,"lifetime_budget_imps":null,"daily_budget":null,"daily_budget_imps":null,"enable_pacing":null,"allow_safety_pacing":null,"lifetime_pacing":null,"lifetime_pacing_span":null,"lifetime_pacing_pct":null,"payout_margin":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":2,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":2,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":1,"read_limit":1000,"read_limit_seconds":60,"writes":2,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":true,"uuid":"ceb48e27-2f87-51d0-9434-827acc3a1da7","warnings":[],"time":304.22520637512,"start_microtime":1486553705.8026,"version":"1.17.202","slave_lag":1035248,"member_last_modified_age":1486553705,"output_term":"line-item"}}}'
  recorded_at: Wed, 08 Feb 2017 11:35:04 GMT
[...]
- request:
    method: put
    uri: https://api-test.appnexus.com/line-item?advertiser_id=1561293&id=3764145
    body:
      encoding: UTF-8
      string: '{"line-item":{"state":"inactive"}}'
    headers:
      Authorization:
      - hbapi:171678:589b02681ef42:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:3,member:2,serviceHostUser:2,serviceHost[...]
[...]
- request:
    method: get
    uri: https://api-test.appnexus.com/line-item?id=3764145&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b02681ef42:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:4,member:3,serviceHostUser:3,serviceHostMember:3,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:4,member:4,serviceHostUser:3,serviceHostMember:3,hostUser:4,hostMember:4,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/line-item"
      X-Route-Time:
      - '28'
    body:
      encoding: UTF-8
      string: '{"response":{"error_id":"SYNTAX","error":"resource not found","error_description":null,"service":null,"method":null,"error_code":null,"count":0,"start_element":0,"num_elements":100,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":4,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":4,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":3,"read_limit":1000,"read_limit_seconds":60,"writes":4,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"4d4e1afe-055c-5d3f-aaba-96f70d42e7ae","warnings":[],"time":19.384145736694,"start_microtime":1486553708.256,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1035249,"member_last_modified_age":1,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 11:35:06 GMT
- request:
    method: delete
    uri: https://api-test.appnexus.com/advertiser?id=1561293
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b02681ef42:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:4,member:3,serviceHostUser:0,serviceHostMember:0,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user:5,member:5,serviceHost[...]
