---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1384'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b1618be664:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"17c66db1-919b-56d7-9644-d1c32255ccf6","warnings":[],"time":793.48993301392,"start_microtime":1486558743.6533,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"420f9790-3e57-5c44-bcc3-197ccc87a73f","warnings":[],"time":1370.8100318909,"start_microtime":1486558743.6272,"version":"1.17.202","slave_lag":1040284,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:03 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/member?num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b1618be664:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:23,member:13,serviceHostUser:1,serviceHostMember:1,hostUser:10,hostMember:10,ip:0
      X-Count-Write:
      - user:29,member:29,serviceHostUser:0,serviceHostMember:0,hostUser:24,hostMember:24,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/member"
      X-Route-Time:
      - '42'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":0,"num_elements":100,"member":{"id":487,"name":"Lumos
        Labs","whitelabel_support_email":"support@adnexus.com","reselling_description":null,"state":"active","no_reselling_priority":6,"entity_type":"reseller","interface_domain":null,"interface_domain_beta":null,"reselling_exposure":"private","reselling_exposed_on":"1970-01-01
        00:00:01","last_modified":"2017-01-07 07:39:17","timezone":"EST5EDT","default_currency":"USD","use_insertion_orders":false,"expose_optimization_levers":true,"default_optimization_version":7,"daily_imps_verified":null,"daily_imps_self_audited":null,"daily_imps_unaudited":null,"allow_non_cpm_payment":false,"default_allow_cpc":true,"default_allow_cpa":true,"default_campaign_trust":"appnexus","default_campaign_allow_unaudited":false,"contract_allows_unaudited":true,"enable_facebook":false,"reporting_decimal_type":"decimal","email_code":null,"enable_click_and_imp_trackers":true,"default_ad_profile_id":739,"buyer_credit_limit":25000,"platform_exposure":"public","contact_email":null,"allow_ad_profile_override":true,"short_name":"lumos","expose_eap_ecp_placement_settings":false,"default_external_audit":false,"plugins_enabled":true,"default_placement_id":null,"default_inv_source_id":null,"seller_revshare_pct":85,"dongle":"blue","buyer_clearing_fee_pct":null,"audit_notify_email":"mark@lumoslabs.com","max_hosted_video_size":null,"visibility_profile_id":267,"pops_enabled_UI":false,"allow_priority_audit":true,"default_accept_data_provider_usersync":true,"default_accept_demand_partner_usersync":true,"default_accept_supply_partner_usersync":true,"domain_blacklist_email":null,"require_facebook_preaudit":true,"ym_profile_id":null,"default_discrepancy_pct":null,"pitbull_segment_id":0,"pitbull_segment_value":0,"description":null,"sherlock_notify_email":"mark@lumoslabs.com","default_content_retrieval_timeout_ms":0,"default_enable_for_mediation":false,"prioritize_margin":false,"deal_visibility_profile_id":null,"xd_coop":false,"age_segment_id":null,"gender_segment_id":null,"developer_id":null,"daily_budget":10000,"account_owner_user":{"id":176139,"first_name":"Mallory","last_name":"Walsh"},"default_country":null,"content_categories":[{"id":4134,"ym_profile_id":null,"parent_category_id":null,"name":"Pets
        \u0026 Animals","reselling_exposed_on":"1970-01-01 00:00:01","code":null,"reselling_exposure":"private","is_system":false,"description":null},{"id":4135,"ym_profile_id":null,"parent_category_id":null,"name":"Fun
        \u0026 Trivia","reselling_exposed_on":"1970-01-01 00:00:01","code":null,"reselling_exposure":"private","is_system":false,"description":null},{"id":4136,"ym_profile_id":null,"parent_category_id":null,"name":"Autos
        \u0026 Vehicles","reselling_exposed_on":"1970-01-01 00:00:01","code":null,"reselling_exposure":"private","is_system":false,"description":null},{"id":4137,"ym_profile_id":null,[...]
