---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1381'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b0ee094f6d:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"3c38d999-6b31-5c04-9c2a-48c9c9f05ed5","warnings":[],"time":794.26312446594,"start_microtime":1486556895.4812,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"c65a2143-f818-5994-bec0-e02f08028368","warnings":[],"time":1369.5349693298,"start_microtime":1486556895.4573,"version":"1.17.202","slave_lag":1038434,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:28:15 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/object-limit?num_elements=100&object_type=creative&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b0ee094f6d:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:2,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Count-Write:
      - user:0,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/object-limit"
      X-Route-Time:
      - '31'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":null,"num_elements":null,"object-limits":[{"object_type":"creative","limit":10000,"mapping_limits":[],"count_active":54,"count_inactive":12,"count_total":66}],"count":null,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":2,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":0,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":1,"read_limit":1000,"read_limit_seconds":60,"writes":0,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"17cd3ce0-6f9f-583b-9962-37d812da9fe7","warnings":[],"time":20.39098739624,"start_microtime":1486556897.314,"version":"1.17.202","slave_miss":"no_timestamp","slave_lag":1038440,"member_last_modified_age":1486556897,"output_term":"object-limits"}}}'
  recorded_at: Wed, 08 Feb 2017 12:28:15 GMT
recorded_with: VCR 3.0.3
