---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1378'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b1634ab715:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"5dc0a77b-0e67-5d4f-8996-2bef68069f4f","warnings":[],"time":795.01104354858,"start_microtime":1486558771.5769,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"45c67773-c5bf-574f-acb7-22ef794673c5","warnings":[],"time":1367.5508499146,"start_microtime":1486558771.5537,"version":"1.17.202","slave_lag":1040309,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:31 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/object-limit?num_elements=100&object_type=creative&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b1634ab715:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:12,member:5,serviceHostUser:1,serviceHostMember:1,hostUser:5,hostMember:5,ip:0
      X-Count-Write:
      - user:6,member:6,serviceHostUser:0,serviceHostMember:0,hostUser:6,hostMember:6,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/object-limit"
      X-Route-Time:
      - '30'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":null,"num_elements":null,"object-limits":[{"object_type":"creative","limit":10000,"mapping_limits":[],"count_active":51,"count_inactive":12,"count_total":63}],"count":null,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":12,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":6,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":5,"read_limit":1000,"read_limit_seconds":60,"writes":6,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"8c020804-d054-5792-8ae5-f3f39804d643","warnings":[],"time":21.0280418396,"start_microtime":1486558773.2986,"version":"1.17.202","slave_miss":"no_timestamp","slave_lag":1040309,"member_last_modified_age":1486558773,"output_term":"object-limits"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:31 GMT
recorded_with: VCR 3.0.3
