---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1380'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b161b1dafd:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"76a366a5-c334-5954-b19e-9695cbf30a26","warnings":[],"time":797.96600341797,"start_microtime":1486558745.9978,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"660554d2-d272-5c0c-860f-a4bbc5ee5988","warnings":[],"time":1366.9741153717,"start_microtime":1486558745.9735,"version":"1.17.202","slave_lag":1040288,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:05 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/publisher?create_default_placement=false
    body:
      encoding: UTF-8
      string: '{"publisher":{"name":"spec publisher","code":"spec_publisher_code","expose_domains":true,"reselling_exposure":"public","ad_quality_advanced_mode_enabled":true}}'
    headers:
      Authorization:
      - hbapi:171678:589b161b1dafd:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:24,member:13,serviceHostUser:1,serviceHostMember:1,hostUser:10,hostMember:10,ip:0
      X-Count-Write:
      - user:30,member:30,serviceHostUser:1,serviceHostMember:1,hostUser:25,hostMember:25,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/publisher"
      X-Route-Time:
      - '305'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":925476,"start_element":0,"num_elements":100,"publisher":{"id":925476,"code":"spec_publisher_code","reselling_name":null,"expose_domains":true,"is_rtb":false,"reselling_exposure":"public","reselling_exposed_on":"2017-02-08
        12:59:07","timezone":"EST5EDT","last_modified":"2017-02-08 12:59:07","max_learn_pct":0,"accept_demand_partner_usersync":null,"learn_bypass_cpm":5,"ad_quality_advanced_mode_enabled":true,"allow_report_on_default_imps":false,"inventory_source":null,"inventory_relationship":"undeclared","disclosure_status":"undisclosed","name":"spec
        publisher","description":"","state":"active","default_site_id":null,"default_ad_profile_id":null,"billing_dba":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_zip":null,"billing_country":null,"accept_supply_partner_usersync":null,"accept_data_provider_usersync":null,"ym_profile_id":null,"allow_cpm_managed":true,"allow_cpm_external":true,"allow_cpa_managed":true,"allow_cpa_external":false,"allow_cpc_managed":true,"allow_cpc_external":false,"managed_cpc_bias_pct":100,"managed_cpa_bias_pct":100,"external_cpc_bias_pct":100,"external_cpa_bias_pct":100,"is_oo":false,"base_payment_rule_id":1192845,"base_ad_quality_rule_id":null,"currency":"USD","visibility_profile_id":null,"cpm_reselling_disabled":false,"cpc_reselling_disabled":false,"platform_ops_notes":null,"pitbull_segment_id":0,"pitbull_segment_value":0,"enable_cookie_tracking_default":true,"seller_page_cap_enabled":false,"inventory_source_name":null,"billing_internal_user":null,"labels":null,"placements":null,"external_inv_codes":null,"contact_info":null,"publisher_brand_exceptions":null,"contact":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":24,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":30,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":13,"read_limit":1000,"read_limit_seconds":60,"writes":30,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"b2982068-d463-5ac9-af79-068bfe82a309","warnings":[],"time":286.77701950073,"start_microtime":1486558747.7169,"version":"1.17.202","slave_lag":1040289,"member_last_modified_age":1486558747,"output_term":"publisher"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:06 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/payment-rule?publisher_id=925476
    body:
      encoding: UTF-8
      string: '{"payment-rule":{"code":"spec_payment_rule_code","name":"spec payment
        rule","pricing_type":"cpm","cost_cpm":1.0}}'
    headers:
      Authorization:
      - hbapi:171678:589b161b1dafd:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:24,member:13,serviceHostUser:0,serviceHostMember:0,hostUser:10,hostMember:10,ip:0
      X-Count-Write:
      - user:31,member:31,serviceHostUser:1,serviceHostMember:1,hostUser:26,hostMember:26,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/payment-rule"
      X-Route-Time:
      - '101'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":1192846,"start_element":0,"num_elements":100,"payment-rule":{"id":1192846,"code":"spec_payment_rule_code","name":"spec
        payment rule","description":"","pricing_type":"cpm","cost_cpm":1,"revshare":null,"state":"active","start_date":null,"end_date":null,"profile_id":null,"timezone":"EST5EDT","priority":5,"last_modified":"2017-02-08
        12:59:08","buyer_type":"both","max_revshare":null,"target_ecpm":null,"apply_cost_on_default":false,"demand_filter_action":"default","lifetime_budget":null,"lifetime_budget_imps":null,"daily_budget":null,"daily_budget_imps":null,"filtered_advertisers":null,"filtered_line_items":null,"filtered_campaigns":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":24,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":31,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":13,"read_limit":1000,"read_limit_seconds":60,"writes":31,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"200ac4ee-b59b-5d90-91fd-199404314cea","warnings":[],"time":85.381984710693,"start_microtime":1486558748.5325,"version":"1.17.202","slave_lag":1040289,"member_last_modified_age":1486558748,"output_term":"payment-rule"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:06 GMT
- request:
    method: put
    uri: https://api-test.appnexus.com/payment-rule?id=1192846&publisher_id=925476
    body:
      encoding: UTF-8
      string: '{"payment-rule":{"cost_cpm":2.0}}'
    headers:
      Authorization:
      - hbapi:171678:589b161b1dafd:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:24,member:13,serviceHostUser:0,serviceHo[...]
- request:
    method: delete
    uri: https://api-test.appnexus.com/payment-rule?id=1192846
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b161b1dafd:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:24,member:13,serviceHostUser:0,serviceHostMember:0,hostUser:10,hostMember:10,ip:0
      X-Count-Write:
      - user:33,member:33,ser[...]
- request:
    method: delete
    uri: https://api-test.appnexus.com/publisher?id=925476
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b161b1dafd:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:24,member:13,serviceHostUser:1,serviceHostMember:1,hostUser:10,hostMember:10,ip:0
      X-Count-Write:
      - user:34,member:34,service[...]
