---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1384'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b17fc47a99:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"d17749d2-ab5e-5cda-9308-72221df89e41","warnings":[],"time":795.06611824036,"start_microtime":1486559227.1647,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"5ba1c4d1-72a3-55f2-92a8-e736cbf5824e","warnings":[],"time":1370.9790706635,"start_microtime":1486559227.1419,"version":"1.17.202","slave_lag":1040764,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 13:07:06 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/publisher?create_default_placement=false
    body:
      encoding: UTF-8
      string: '{"publisher":{"name":"spec publisher","code":"spec_publisher_code","expose_domains":true,"reselling_exposure":"public","ad_quality_advanced_mode_enabled":true}}'
    headers:
      Authorization:
      - hbapi:171678:589b17fc47a99:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:8,member:4,serviceHostUser:2,serviceHostMember:2,hostUser:4,hostMember:4,ip:0
      X-Count-Write:
      - user:3,member:3,serviceHostUser:3,serviceHostMember:3,hostUser:3,hostMember:3,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/publisher"
      X-Route-Time:
      - '270'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":925478,"start_element":0,"num_elements":100,"publisher":{"id":925478,"code":"spec_publisher_code","reselling_name":null,"expose_domains":true,"is_rtb":false,"reselling_exposure":"public","reselling_exposed_on":"2017-02-08
        13:07:09","timezone":"EST5EDT","last_modified":"2017-02-08 13:07:09","max_learn_pct":0,"accept_demand_partner_usersync":null,"learn_bypass_cpm":5,"ad_quality_advanced_mode_enabled":true,"allow_report_on_default_imps":false,"inventory_source":null,"inventory_relationship":"undeclared","disclosure_status":"undisclosed","name":"spec
        publisher","description":"","state":"active","default_site_id":null,"default_ad_profile_id":null,"billing_dba":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_zip":null,"billing_country":null,"accept_supply_partner_usersync":null,"accept_data_provider_usersync":null,"ym_profile_id":null,"allow_cpm_managed":true,"allow_cpm_external":true,"allow_cpa_managed":true,"allow_cpa_external":false,"allow_cpc_managed":true,"allow_cpc_external":false,"managed_cpc_bias_pct":100,"managed_cpa_bias_pct":100,"external_cpc_bias_pct":100,"external_cpa_bias_pct":100,"is_oo":false,"base_payment_rule_id":1192848,"base_ad_quality_rule_id":null,"currency":"USD","visibility_profile_id":null,"cpm_reselling_disabled":false,"cpc_reselling_disabled":false,"platform_ops_notes":null,"pitbull_segment_id":0,"pitbull_segment_value":0,"enable_cookie_tracking_default":true,"seller_page_cap_enabled":false,"inventory_source_name":null,"billing_internal_user":null,"labels":null,"placements":null,"external_inv_codes":null,"contact_info":null,"publisher_brand_exceptions":null,"contact":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":8,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":3,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":4,"read_limit":1000,"read_limit_seconds":60,"writes":3,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"5b5d66a4-8048-53a0-bc89-f4c750d36e61","warnings":[],"time":252.25305557251,"start_microtime":1486559228.9859,"version":"1.17.202","slave_lag":1040764,"member_last_modified_age":1486559228,"output_term":"publisher"}}}'
  recorded_at: Wed, 08 Feb 2017 13:07:07 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/site?num_elements=100&publisher_id=925478&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b17fc47a99:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:9,member:5,serviceHostUser:1,serviceHostMember:1,hostUser:5,hostMember:5,ip:0
      X-Count-Write:
      - user:3,member:3,serviceHostUser:0,serviceHostMember:0,hostUser:3,hostMember:3,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/site"
      X-Route-Time:
      - '28'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":0,"num_elements":100,"sites":[],"count":0,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":9,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":3,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":5,"read_limit":1000,"read_limit_seconds":60,"writes":3,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"bfe18e06-4401-5a23-912e-89ddc4ec08fd","warnings":[],"time":17.114162445068,"start_microtime":1486559229.9419,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1040772,"member_last_modified_age":474,"output_term":"sites"}}}'
  recorded_at: Wed, 08 Feb 2017 13:07:08 GMT
recorded_with: VCR 3.0.3
