---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1378'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b0ee2d2ac0:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"6352b0b1-39c9-53a8-8def-db57673142b4","warnings":[],"time":792.31595993042,"start_microtime":1486556897.7381,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"baaa5351-0ca2-54d8-b780-a7af38e5932d","warnings":[],"time":1366.0769462585,"start_microtime":1486556897.7155,"version":"1.17.202","slave_lag":1038440,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:28:17 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/object-limit?num_elements=100&object_type=profile&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b0ee2d2ac0:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:4,member:2,serviceHostUser:2,serviceHostMember:2,hostUser:2,hostMember:2,ip:0
      X-Count-Write:
      - user:0,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/object-limit"
      X-Route-Time:
      - '27'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":null,"num_elements":null,"object-limits":[{"object_type":"profile","limit":null,"mapping_limits":{"segment_targets":400,"segment_group_targets":400,"publisher_targets":300,"site_targets":100,"placement_targets":250,"inventory_source_targets":500,"platform_content_category_targets":300,"content_category_targets":300,"zip_targets":4000},"count_active":null,"count_inactive":null,"count_total":null}],"count":null,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":4,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":0,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":2,"read_limit":1000,"read_limit_seconds":60,"writes":0,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"92ea1004-5ed0-5d05-be80-76a2c7f73790","warnings":[],"time":17.93909072876,"start_microtime":1486556899.5727,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1038440,"member_last_modified_age":2,"output_term":"object-limits"}}}'
  recorded_at: Wed, 08 Feb 2017 12:28:17 GMT
recorded_with: VCR 3.0.3
