---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1402'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b1636d57f3:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"5c8221ad-5890-5a4a-89a1-747f3c37ea1f","warnings":[],"time":795.01104354858,"start_microtime":1486558773.7293,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"456893f6-e153-57fe-b2a9-35fc64ab2955","warnings":[],"time":1388.423204422,"start_microtime":1486558773.7045,"version":"1.17.202","slave_lag":1040309,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:33 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/object-limit?num_elements=100&object_type=profile&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b1636d57f3:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:14,member:6,serviceHostUser:2,serviceHostMember:2,hostUser:6,hostMember:6,ip:0
      X-Count-Write:
      - user:6,member:6,serviceHostUser:0,serviceHostMember:0,hostUser:6,hostMember:6,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/object-limit"
      X-Route-Time:
      - '28'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":null,"num_elements":null,"object-limits":[{"object_type":"profile","limit":null,"mapping_limits":{"segment_targets":400,"segment_group_targets":400,"publisher_targets":300,"site_targets":100,"placement_targets":250,"inventory_source_targets":500,"platform_content_category_targets":300,"content_category_targets":300,"zip_targets":4000},"count_active":null,"count_inactive":null,"count_total":null}],"count":null,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":14,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":6,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":6,"read_limit":1000,"read_limit_seconds":60,"writes":6,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"0f9c6127-da98-530f-881b-479445250612","warnings":[],"time":18.856048583984,"start_microtime":1486558775.5585,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1040318,"member_last_modified_age":2,"output_term":"object-limits"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:33 GMT
recorded_with: VCR 3.0.3
