---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1373'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b19db6eb56:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"fae94a5e-cb9b-59a1-bbd2-203d44b2601c","warnings":[],"time":793.93887519836,"start_microtime":1486559706.3322,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"92625245-5333-52f3-b86c-15b3b1fc21ae","warnings":[],"time":1362.7851009369,"start_microtime":1486559706.3083,"version":"1.17.202","slave_lag":1041247,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 13:15:06 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/publisher?create_default_placement=false
    body:
      encoding: UTF-8
      string: '{"publisher":{"name":"spec publisher","code":"spec_publisher_code","expose_domains":true,"reselling_exposure":"public","ad_quality_advanced_mode_enabled":true}}'
    headers:
      Authorization:
      - hbapi:171678:589b19db6eb56:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:7,member:4,serviceHostUser:2,serviceHostMember:2,hostUser:4,hostMember:4,ip:0
      X-Count-Write:
      - user:1,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/publisher"
      X-Route-Time:
      - '300'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":925480,"start_element":0,"num_elements":100,"publisher":{"id":925480,"code":"spec_publisher_code","reselling_name":null,"expose_domains":true,"is_rtb":false,"reselling_exposure":"public","reselling_exposed_on":"2017-02-08
        13:15:08","timezone":"EST5EDT","last_modified":"2017-02-08 13:15:08","max_learn_pct":0,"accept_demand_partner_usersync":null,"learn_bypass_cpm":5,"ad_quality_advanced_mode_enabled":true,"allow_report_on_default_imps":false,"inventory_source":null,"inventory_relationship":"undeclared","disclosure_status":"undisclosed","name":"spec
        publisher","description":"","state":"active","default_site_id":null,"default_ad_profile_id":null,"billing_dba":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_zip":null,"billing_country":null,"accept_supply_partner_usersync":null,"accept_data_provider_usersync":null,"ym_profile_id":null,"allow_cpm_managed":true,"allow_cpm_external":true,"allow_cpa_managed":true,"allow_cpa_external":false,"allow_cpc_managed":true,"allow_cpc_external":false,"managed_cpc_bias_pct":100,"managed_cpa_bias_pct":100,"external_cpc_bias_pct":100,"external_cpa_bias_pct":100,"is_oo":false,"base_payment_rule_id":1192850,"base_ad_quality_rule_id":null,"currency":"USD","visibility_profile_id":null,"cpm_reselling_disabled":false,"cpc_reselling_disabled":false,"platform_ops_notes":null,"pitbull_segment_id":0,"pitbull_segment_value":0,"enable_cookie_tracking_default":true,"seller_page_cap_enabled":false,"inventory_source_name":null,"billing_internal_user":null,"labels":null,"placements":null,"external_inv_codes":null,"contact_info":null,"publisher_brand_exceptions":null,"contact":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":7,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":1,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":4,"read_limit":1000,"read_limit_seconds":60,"writes":1,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"9da8a800-d2a1-585e-9f10-feac0875537c","warnings":[],"time":285.6822013855,"start_microtime":1486559708.4166,"version":"1.17.202","slave_lag":1041247,"member_last_modified_age":1486559708,"output_term":"publisher"}}}'
  recorded_at: Wed, 08 Feb 2017 13:15:07 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/publisher?id=925480&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b19db6eb56:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:8,member:5,serviceHostUser:3,serviceHostMember:3,hostUser:5,hostMember:5,ip:0
      X-Count-Write:
      -[...]
- request:
    method: delete
    uri: https://api-test.appnexus.com/publisher?id=925480
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b19db6eb56:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:8,member:5,serviceHostUser:3,serviceHostMember:3,hostUser:5,hostMember:5,ip:0
      X-Count-Write:
      - user:2,member:2,serviceHostUs[...]
- request:
    method: get
    uri: https://api-test.appnexus.com/publisher?id=925480&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b19db6eb56:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:9,member:6,serviceHostUser:4,serviceHostMember:4,hostUser:6,hostMember:6,ip:0
      X-Count-Write:
      - user:2,member:2,serviceHostUser:2,serviceHostMember:2,hostUser:2,hostMember:2,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/publisher"
      X-Route-Time:
      - '26'
    body:
      encoding: UTF-8
      string: '{"response":{"error_id":"SYNTAX","error":"publisher id not found: 925480","error_description":null,"service":"publisher","method":"GET","error_code":"NOTFOUND_PUBLISHER","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":9,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":2,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":6,"read_limit":1000,"read_limit_seconds":60,"writes":2,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"44003397-c707-52e9-849e-73c749bd909b","warnings":[],"time":16.727924346924,"start_microtime":1486559710.882,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1041247,"member_last_modified_age":0,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 13:15:09 GMT
recorded_with: VCR 3.0.3
