---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1386'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b0739b9edd:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"8bbed6ff-4c24-55a8-9be7-f61e4ef81010","warnings":[],"time":796.05603218079,"start_microtime":1486554936.6292,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"ca83f219-72af-5eb9-af84-b06fa101a5c7","warnings":[],"time":1375.3890991211,"start_microtime":1486554936.606,"version":"1.17.202","slave_lag":1036479,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 11:55:36 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/publisher?create_default_placement=false
    body:
      encoding: UTF-8
      string: '{"publisher":{"name":"spec publisher","code":"spec_code_publisher","expose_domains":true,"reselling_exposure":"public","ad_quality_advanced_mode_enabled":true}}'
    headers:
      Authorization:
      - hbapi:171678:589b0739b9edd:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:1,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Count-Write:
      - user:1,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/publisher"
      X-Route-Time:
      - '246'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":925472,"start_element":0,"num_elements":100,"publisher":{"id":925472,"code":"spec_code_publisher","reselling_name":null,"expose_domains":true,"is_rtb":false,"reselling_exposure":"public","reselling_exposed_on":"2017-02-08
        11:55:38","timezone":"EST5EDT","last_modified":"2017-02-08 11:55:38","max_learn_pct":0,"accept_demand_partner_usersync":null,"learn_bypass_cpm":5,"ad_quality_advanced_mode_enabled":true,"allow_report_on_default_imps":false,"inventory_source":null,"inventory_relationship":"undeclared","disclosure_status":"undisclosed","name":"spec
        publisher","description":"","state":"active","default_site_id":null,"default_ad_profile_id":null,"billing_dba":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_zip":null,"billing_country":null,"accept_supply_partner_usersync":null,"accept_data_provider_usersync":null,"ym_profile_id":null,"allow_cpm_managed":true,"allow_cpm_external":true,"allow_cpa_managed":true,"allow_cpa_external":false,"allow_cpc_managed":true,"allow_cpc_external":false,"managed_cpc_bias_pct":100,"managed_cpa_bias_pct":100,"external_cpc_bias_pct":100,"external_cpa_bias_pct":100,"is_oo":false,"base_payment_rule_id":1192841,"base_ad_quality_rule_id":null,"currency":"USD","visibility_profile_id":null,"cpm_reselling_disabled":false,"cpc_reselling_disabled":false,"platform_ops_notes":null,"pitbull_segment_id":0,"pitbull_segment_value":0,"enable_cookie_tracking_default":true,"seller_page_cap_enabled":false,"inventory_source_name":null,"billing_internal_user":null,"labels":null,"placements":null,"external_inv_codes":null,"contact_info":null,"publisher_brand_exceptions":null,"contact":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":1,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":1,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":0,"read_limit":1000,"read_limit_seconds":60,"writes":1,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"f2db119b-2c04-5f19-bb9f-60bd2e14cd5f","warnings":[],"time":230.36789894104,"start_microtime":1486554938.3906,"version":"1.17.202","slave_lag":1036480,"member_last_modified_age":1486554938,"output_term":"publisher"}}}'
  recorded_at: Wed, 08 Feb 2017 11:55:36 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/publisher?id=925472&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b0739b9edd:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:2,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Count-Write:
      -[...]
- request:
    method: delete
    uri: https://api-test.appnexus.com/publisher?id=925472
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b0739b9edd:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:2,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Count-Write:
      - user:2,member:2,serviceHostUs[...]
- request:
    method: get
    uri: https://api-test.appnexus.com/publisher?id=925472&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b0739b9edd:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:3,member:2,serviceHostUser:2,serviceHostMember:2,hostUser:2,hostMember:2,ip:0
      X-Count-Write:
      - user:2,member:2,serviceHostUser:2,serviceHostMember:2,hostUser:2,hostMember:2,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/publisher"
      X-Route-Time:
      - '27'
    body:
      encoding: UTF-8
      string: '{"response":{"error_id":"SYNTAX","error":"publisher id not found: 925472","error_description":null,"service":"publisher","method":"GET","error_code":"NOTFOUND_PUBLISHER","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":3,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":2,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":2,"read_limit":1000,"read_limit_seconds":60,"writes":2,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"be981fbd-2aa1-5642-ba25-7039b9e387ae","warnings":[],"time":17.916917800903,"start_microtime":1486554940.5421,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1036480,"member_last_modified_age":0,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 11:55:38 GMT
recorded_with: VCR 3.0.3
