---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1382'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b05ba03703:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"fa7a5e0f-98ae-5d7d-a167-7b422e7822e2","warnings":[],"time":793.781042099,"start_microtime":1486554552.8871,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"70cfc22c-c24b-515d-b218-fc91c634da51","warnings":[],"time":1369.1051006317,"start_microtime":1486554552.864,"version":"1.17.202","slave_lag":1036095,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 11:49:12 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/publisher?create_default_placement=false
    body:
      encoding: UTF-8
      string: '{"publisher":{"name":"spec publisher","code":"spec_pub_code","expose_domains":true,"reselling_exposure":"public","ad_quality_advanced_mode_enabled":true}}'
    headers:
      Authorization:
      - hbapi:171678:589b05ba03703:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:1,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Count-Write:
      - user:1,member:1,serviceHostUser:1,serviceHostMember:1,hostUser:1,hostMember:1,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/publisher"
      X-Route-Time:
      - '298'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":925470,"start_element":0,"num_elements":100,"publisher":{"id":925470,"code":"spec_pub_code","reselling_name":null,"expose_domains":true,"is_rtb":false,"reselling_exposure":"public","reselling_exposed_on":"2017-02-08
        11:49:14","timezone":"EST5EDT","last_modified":"2017-02-08 11:49:14","max_learn_pct":0,"accept_demand_partner_usersync":null,"learn_bypass_cpm":5,"ad_quality_advanced_mode_enabled":true,"allow_report_on_default_imps":false,"inventory_source":null,"inventory_relationship":"undeclared","disclosure_status":"undisclosed","name":"spec
        publisher","description":"","state":"active","default_site_id":null,"default_ad_profile_id":null,"billing_dba":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_zip":null,"billing_country":null,"accept_supply_partner_usersync":null,"accept_data_provider_usersync":null,"ym_profile_id":null,"allow_cpm_managed":true,"allow_cpm_external":true,"allow_cpa_managed":true,"allow_cpa_external":false,"allow_cpc_managed":true,"allow_cpc_external":false,"managed_cpc_bias_pct":100,"managed_cpa_bias_pct":100,"external_cpc_bias_pct":100,"external_cpa_bias_pct":100,"is_oo":false,"base_payment_rule_id":1192839,"base_ad_quality_rule_id":null,"currency":"USD","visibility_profile_id":null,"cpm_reselling_disabled":false,"cpc_reselling_disabled":false,"platform_ops_notes":null,"pitbull_segment_id":0,"pitbull_segment_value":0,"enable_cookie_tracking_default":true,"seller_page_cap_enabled":false,"inventory_source_name":null,"billing_internal_user":null,"labels":null,"placements":null,"external_inv_codes":null,"contact_info":null,"publisher_brand_exceptions":null,"contact":null},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":1,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":1,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":0,"read_limit":1000,"read_limit_seconds":60,"writes":1,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"bef0f983-2de0-59fe-a551-e2f097f31d78","warnings":[],"time":282.0417881012,"start_microtime":1486554554.6209,"version":"1.17.202","slave_lag":1036095,"member_last_modified_age":1486554554,"output_term":"publisher"}}}'
  recorded_at: Wed, 08 Feb 2017 11:49:13 GMT
- request:
    method: post
    uri: https://api-test.appnexus.com/site?publisher_id=925470
    body:
      encoding: UTF-8
      string: '{"site":{"name":"Site Name","code":"spec_site_code","url":"http://www.example.com","intended_audience":"general","audited":true}}'
    headers:
      Authorization:
      - hbapi:171678:589b05ba03703:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:1,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Count-Write:
      - user:2,member:2,serviceHostUser:1,serviceHostMember:1,hostUser:2,hostMember:2,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/site"
      X-Route-Time:
      - '354'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","count":1,"id":2647499,"start_element":0,"num_elements":100,"site":{"id":2647499,"code":"spec_site_code","state":"active","publisher_id":925470,"last_modified":"2017-02-08
        11:49:15","name":"Site Name","url":"http:\/\/www.example.com","primary_content_category_id":null,"intended_audience":"general","managed_optimization_zone_id":"159","rtb_optimization_zone_id":null,"audited":true,"publisher_name":"spec
        publisher","supply_type":"web","creative_format_action":"exclude","mobile_app_instance":null,"placements":null,"content_categories":null,"inventory_attributes":null,"creative_formats":["text"],"allowed_click_actions":["click-to-web"],"marketplace_map":{"performance":false,"rtb":true,"an_audit_perf_only":false,"rtb_suspended":false,"deals_allowed":true,"deals_suspended":false}},"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":1,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":2,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":0,"read_limit":1000,"read_limit_seconds":60,"writes":2,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"5936f7c7-561d-5d85-9433-a189901de22b","warnings":[],"time":339.84899520874,"start_microtime":1486554555.4102,"version":"1.17.202","slave_lag":1036095,"member_last_modified_age":1486554555,"output_term":"site"}}}'
  recorded_at: Wed, 08 Feb 2017 11:49:13 GMT
- request:
    method: delete
    uri: https://api-test.appnexus.com/site?id=2647499
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b05ba03703:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:1,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Count-Write:
      - user:3,member:3,serviceHostUser:2[...]
- request:
    method: delete
    uri: https://api-test.appnexus.com/publisher?id=925470
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b05ba03703:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:1,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Count-Write:
      - user:4,member:4,serviceHostUs[...]
