---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1384'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b162e31b3a:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"0d9e096f-4020-5334-82c8-5bad38b57e01","warnings":[],"time":793.72978210449,"start_microtime":1486558765.074,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"d3d34a81-db7b-5457-8594-7b0ffcc53054","warnings":[],"time":1371.4709281921,"start_microtime":1486558765.0501,"version":"1.17.202","slave_lag":1040300,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:24 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/user?current=1&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b162e31b3a:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:7,member:2,serviceHostUser:1,serviceHostMember:1,hostUser:2,hostMember:2,ip:0
      X-Count-Write:
      - user:4,member:4,serviceHostUser:0,serviceHostMember:0,hostUser:4,hostMember:4,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/user"
      X-Route-Time:
      - '28'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":0,"num_elements":100,"user":{"id":171678,"first_name":"Analytics","last_name":"Dev","phone":"","username":"<APPNEXUS_USERNAME>","email":"<APPNEXUS_USERNAME>","user_type":"member","read_only":false,"api_login":true,"entity_id":487,"publisher_id":null,"advertiser_id":null,"custom_data":"{}","send_safety_budget_notifications":false,"entity_name":"Lumos
        Labs","timezone":"EST5EDT","entity_reporting_decimal_type":"decimal","reporting_decimal_type":"decimal","decimal_mark":"period","thousand_separator":"comma","is_admin":false,"last_modified":"2017-02-08
        11:51:42","is_developer":false,"role_id":null,"state":"active","password_expires_on":null,"advertiser_access":null,"publisher_access":null},"count":1,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":7,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":4,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":2,"read_limit":1000,"read_limit_seconds":60,"writes":4,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"0818d126-ebc4-500c-8f86-0bdc8d5e2d53","warnings":[],"time":18.574953079224,"start_microtime":1486558766.8049,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1040309,"member_last_modified_age":1249,"output_term":"user"}}}'
  recorded_at: Wed, 08 Feb 2017 12:59:24 GMT
recorded_with: VCR 3.0.3
