---
http_interactions:
- request:
    method: post
    uri: https://api-test.appnexus.com/auth
    body:
      encoding: UTF-8
      string: '{"auth":{"username":"<APPNEXUS_USERNAME>","password":"<APPNEXUS_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Route:
      - "/auth"
      X-Route-Time:
      - '1372'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","token":"hbapi:171678:589b064bdc72d:nym2","dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","parent_dbg_info":{"instance":"01.api.test104169.nym2","slave_hit":false,"db":"master","awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"1b9adfd7-d824-55e9-a4c1-2e73a1d032e3","warnings":[],"time":793.26605796814,"start_microtime":1486554698.7838,"version":"1.17","output_term":"not_found"},"awesomesauce_cache_used":false,"count_cache_used":false,"uuid":"ec40c0d1-18d9-5fad-8108-f560badacb7f","warnings":[],"time":1360.8889579773,"start_microtime":1486554698.7603,"version":"1.17.202","slave_lag":1036239,"output_term":"not_found"}}}'
  recorded_at: Wed, 08 Feb 2017 11:51:38 GMT
- request:
    method: get
    uri: https://api-test.appnexus.com/user?current=1&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b064bdc72d:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:4,member:2,serviceHostUser:2,serviceHostMember:2,hostUser:2,hostMember:2,ip:0
      X-Count-Write:
      - user:0,member:0,serviceHostUser:0,serviceHostMember:0,hostUser:0,hostMember:0,ip:0
      X-Ratelimit-Read:
      - '1000'
      X-Ratelimit-Service:
      - 1000-Default
      X-Ratelimit-System:
      - 1000-Default
      X-Ratelimit-Write:
      - '1000'
      X-Route:
      - "/user"
      X-Route-Time:
      - '34'
    body:
      encoding: UTF-8
      string: '{"response":{"status":"OK","start_element":0,"num_elements":100,"user":{"id":171678,"first_name":"Analytics","last_name":"Dev","phone":"","username":"<APPNEXUS_USERNAME>","email":"<APPNEXUS_USERNAME>","user_type":"member","read_only":false,"api_login":true,"entity_id":487,"publisher_id":null,"advertiser_id":null,"custom_data":"{}","send_safety_budget_notifications":false,"entity_name":"Lumos
        Labs","timezone":"EST5EDT","entity_reporting_decimal_type":"decimal","reporting_decimal_type":"decimal","decimal_mark":"period","thousand_separator":"comma","is_admin":false,"last_modified":"2017-02-08
        10:16:25","is_developer":false,"role_id":null,"state":"active","password_expires_on":null,"advertiser_access":null,"publisher_access":null},"count":1,"dbg_info":{"instance":"01.hbapi.test104169.nym2","slave_hit":false,"db":"master","user::reads":4,"user::read_limit":1000,"user::read_limit_seconds":60,"user::writes":0,"user::write_limit":1000,"user::write_limit_seconds":60,"reads":2,"read_limit":1000,"read_limit_seconds":60,"writes":0,"write_limit":1000,"write_limit_seconds":60,"awesomesauce_cache_used":false,"count_cache_used":true,"uuid":"bee229e2-41e4-5ad5-9371-9e3b9b7eb4cd","warnings":[],"time":24.532079696655,"start_microtime":1486554700.9064,"version":"1.17.202","slave_miss":"no_slaves_found","slave_lag":1036239,"member_last_modified_age":5715,"output_term":"user"}}}'
  recorded_at: Wed, 08 Feb 2017 11:51:39 GMT
- request:
    method: put
    uri: https://api-test.appnexus.com/user?id=171678
    body:
      encoding: UTF-8
      string: '{"user":{"last_name":"test"}}'
    headers:
      Authorization:
      - hbapi:171678:589b064bdc72d:nym2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:4,member:2,serviceHostUser:2,serviceHostMember:2,hostUser:2,hostMember:2,[...]
- request:
    method: get
    uri: https://api-test.appnexus.com/user?id=171678&num_elements=100&start_element=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - hbapi:171678:589b064bdc72d:nym2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Count-Read:
      - user:5,member:3,serviceHostUser:3,serviceHostMember:3,hostUser:3,hostMember:3,ip:0
      X-Count-Write:
      - user[...]
[...]
